body {
    background-color: linen;
}

#heading {
    color: maroon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.intro {
    color: maroon;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 500;
    width: 50%;
}

.desc {
    color: maroon;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 500;
    width: 50%;
}

.divder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.link {
    display: flex;
    justify-content: space-between;
}

.form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-header {
    font-family: 'Halant';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #000000;
}

label, ::placeholder {
    font-family: 'Halant';
}

input {
    color: #000000;
    border: 1px solid #828282;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 10px 5px 5px;

}

select {
    color: #000000;
    border: 1px solid #828282;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    width: 190px;
}

button {
    width: 190px;
    height: 50px;
    margin-left: 42%;

    background: #155EEF;
    border: none;
    border-radius: 4px;
    color: white;
}

.order {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.option {
    display: flex;
    flex-direction: column;
}

.h {
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.radio {
    margin-right: 4rem;
}

.skill {
    display: flex;
    align-items: center;
}

#html {
    margin-left: 1rem;
}

.tech {
    font-size: small;
}


.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 5rem;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 667px;
}

th {
    border: 1px solid black;
    padding: 10px;
    text-align: start;
    color: #000000;
}

td {
    border: 1px solid black;
    padding: 10px;
    color: #000000;
}

.first h2 {
    width: 293px;
    height: 60px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #000000;
}