body {
    background-color: linen;
}

#heading {
    color: maroon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.intro {
    color: maroon;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 500;
    width: 50%;
}

.desc {
    color: maroon;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 500;
    width: 50%;
}

.divder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    justify-content: center;
}